@model RealEstate.Models.KindDetail


<div id="form-wrapper">
    @using (Html.BeginForm("Create", "KindDetail",new { PageIndex=this.Url.RequestContext.RouteData.Values["PageIndex"]}, FormMethod.Post, new { @id = "frmData" }))
    {
        @Html.ValidationSummary(true)
       
        <div class="edit-set">
            <div class="form-horizontal">
                <hr />
            
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KindID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.KindID ,new SelectList(Model.kindList,"ID","Name"))
                        @Html.ValidationMessageFor(model => model.KindID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ControlType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ControlType, new SelectList(new[] { new SelectListItem { Text = "DropDownList", Value = "DropDownList" }, new SelectListItem { Text = "CheckBox", Value = "CheckBox" } },"Value","Text"))
                        @Html.ValidationMessageFor(model => model.ControlType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Status)
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
