@model RealEstate.Models.Language

<div id="form-wrapper">
    @using (Html.BeginForm("Create", "Language", new { PageIndex = this.Url.RequestContext.RouteData.Values["PageIndex"] }, FormMethod.Post, new { @id = "frmData" }))
    {
        @Html.ValidationSummary(true)

        <div class="edit-set">
            <div class="form-horizontal">
                <hr />

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Flag , htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Flag, new SelectList(Model.FlagList, "", ""))
                        @Html.ValidationMessageFor(model => model.Flag, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.FileName, new SelectList(Model.FileList,"",""))
                        @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" },@readonly=true })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Status)
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#FileName").change(function () {
            $.ajax({
                url: "/Language/GetCode?fileName=" + $(this).val(),
                type: "post",
                dataType: "json",
                success: function (data) {
                    $("#Code").val(data);
                },
                error: function (data) {
                    alert(data);
                }
            });
        });
    });
</script>